
.main_block {

}


.container {
    width: 350px;
    height: 400px;
    padding: 10px 5px;

    border: 1px solid grey;
    border-radius: 10px;

    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);

    text-align: center;


}

.container h3 {
    margin-bottom: 30px;
}

.form_block {

}

.btn_form {
    width: 120px;
    height: 30px;
    display: block;
    margin: 20px auto;

    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;
}